
    <nav class="navbar fixed-top justify-content-end" style="background-color: #b2e0fb;">
        <a class="nav-link active" href="/">РЕЦЕПТИ </a>
        <a class="nav-link" href="/recipe/vegetarian">ВЕГЕТЕРІАНСЬКІ СТРАВИ</a>
        <a class="nav-link" href="/recipe/chicken-recipes"> СТРАВИ З КУРКИ </a>
        <a class="nav-link" href="/recipe/dessert"> ДЕСЕРТИ </a>
        <a class="nav-link" href="/securelogin">ВХІД</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>


    </nav>
